<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    
    <div class="d-flex align-items-center mb-4 px-2 logo-area">
        <div class="icon-box bg-primary rounded-3 d-flex align-items-center justify-content-center me-3">
            <i class="bi bi-bank2 fs-4 text-white"></i>
        </div>
        <span class="fs-5 fw-bold tracking-tight">Caja San Miguel</span>
    </div>

    <hr class="border-secondary opacity-25 mx-2">

    <ul class="nav nav-pills flex-column mb-auto mt-2 gap-1">
        
        <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link d-flex align-items-center text-white opacity-75">
                <i class="bi bi-grid-1x2-fill me-3"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a routerLink="/clientes" routerLinkActive="active" class="nav-link d-flex align-items-center text-white opacity-75">
                <i class="bi bi-people-fill me-3"></i>
                Clientes
            </a>
        </li>

        <li>
            <a routerLink="/prestamos" routerLinkActive="active" class="nav-link d-flex align-items-center text-white opacity-75">
                <i class="bi bi-wallet-fill me-3"></i>
                Préstamos
            </a>
        </li>


    </ul>

    <hr class="border-secondary opacity-25 mx-2">

    <div class="dropdown px-2">
        <a class="dropdown-item text-danger" href="#">Cerrar Sesión</a>
       
    </div>

</div>